// Farben
$primary-black: rgba(34, 18, 39);
$primary-white: rgba(254, 253, 255); //*scondary-btn-font
$primary-purple: rgba(53, 39, 58); //*filter-btn-font
$primary-orange: rgba(255, 207, 161);

$secondary-orange: rgba(255, 183, 112);

$light-orange: rgba(254, 233, 212);

$main-btn-bg: $primary-orange;
$main-btn-bg-hover: $secondary-orange;
$main-btn-font: $primary-black;

$secondary-btn-bg: rgba($secondary-orange, 0.3);
$secondary-btn-bg-hover: rgba($secondary-orange, 0.6);

$filter-btn-bg: rgba(254, 233, 212);
$filter-btn-bg-hover: $primary-orange;
$filter-btn-bg-active: $secondary-orange;

$card-bg: rgba(250, 245, 254);
$card-bg-hover: rgba(244, 233, 251, 1);

// Typografie
$f-txt:
  'Mulish',
  system-ui,
  -apple-system,
  sans-serif;

$f-title:
  'Nerko One',
  system-ui,
  -apple-system,
  sans-serif;

$f-txt-btn:
  'Nokora',
  system-ui,
  -apple-system,
  sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 800px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$max-dp-width: 1220px;

// Z-Index
$z-index-dropdown: 1000;
$z-index-modal: 1050;
$z-index-toast: 1100;

//animation time
$animation-time: 350ms;
