@use '../../../../styles/abstracts' as *;


@include respond-to(lg) {
  :host {
    display: flex;
    min-height: 100dvh;
    @include flex-center()
  }
  .header {
    display: none;
    visibility: hidden;
  }
}
