@use '../../../../styles/abstracts' as *;

:host {
  @include page-bg($primary-purple)
}

.grid {
  display: grid;
  min-height: 100dvh;
  padding: 40px 15px;
  max-width: $max-dp-width;
  margin: 0 auto;

  &__index {
    grid-template-rows: 100px auto auto auto;
    @include respond-to(lg) {
      grid-template-rows: 138px 420px auto auto;
    }
  }
}

.expire-list {
  justify-self: center;
}

.survay-list {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
