@use '../abstracts' as *;

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $primary-black;

  &__primary {
    background-color: $secondary-orange;
    font-size: rem(18);
    font-weight: 700;
    min-height: 48px;
    padding: 12px 16px;
    border-radius: 10px;
    @include flex-center;
    gap: 10px;
    transition:
      background-color 200ms ease-in-out,
      color 200ms ease-in-out;

    &--icon {
      width: 18px;
      height: 16px;
      fill: $primary-black;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    gap: 4px;

    &--icon {
      width: 16px;
      aspect-ratio: 1 / 1;
    }
  }

  &__bin {
    margin-right: 16px;
    padding: 4px;
    @include flex-center;
    justify-self: end;
    border-radius: 3px;
    align-self: start;

    &--icon {
      width: 18px;
      height: 16px;
      fill: white;
    }

    &:hover {
      background-color: $primary-orange;

      .btn__bin--icon {
        fill: $primary-purple;
      }
    }
  }
}

.icon__check {
  display: none;
}

@include respond-to(md) {
  .btn {
    &__primary {
      background-color: $main-btn-bg;

      &--icon {
        width: 0;
        height: 0;
        visibility: hidden;
        transition:
          width $animation-time ease-in-out,
          width $animation-time ease-in-out;
      }

      &:hover {
        background-color: $main-btn-bg-hover;

        .btn__primary--icon {
          width: 18px;
          height: 16px;
          visibility: visible;
        }
      }

      &:active {
        .icon__check {
          display: inline;
        }

        .icon__add {
          display: none;
        }
      }
    }
  }
}
