@if (surveyResource.isLoading()) {
  <p>Loading survey…</p>
  <!-- todo add a spinner for slow loading -->
} @else if (surveyResource.error()) {
  <p>Survey could not be loaded.</p>
  <!-- todo add a route to the home page -->
} @else if (surveyResource.value(); as survey) {
  <!-- todo (ngSubmit)="onSubmit()" -->
  <form class="form">
    <header class="header">
      <app-status class="header__status" status="Published"></app-status>
      <button class="btn btn__secondary header__btn" routerLink="">
        <svg
          class="btn__secondary--icon"
          fill="none"
          height="14"
          viewBox="0 0 14 14"
          width="14"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.575 7.975L1.675 12.875C1.49167 13.0583 1.25833 13.15 0.975 13.15C0.691667 13.15 0.458333 13.0583 0.275 12.875C0.0916667 12.6917 0 12.4583 0 12.175C0 11.8917 0.0916667 11.6583 0.275 11.475L5.175 6.575L0.275 1.675C0.0916667 1.49167 0 1.25833 0 0.975C0 0.691667 0.0916667 0.458333 0.275 0.275C0.458333 0.0916667 0.691667 0 0.975 0C1.25833 0 1.49167 0.0916667 1.675 0.275L6.575 5.175L11.475 0.275C11.6583 0.0916667 11.8917 0 12.175 0C12.4583 0 12.6917 0.0916667 12.875 0.275C13.0583 0.458333 13.15 0.691667 13.15 0.975C13.15 1.25833 13.0583 1.49167 12.875 1.675L7.975 6.575L12.875 11.475C13.0583 11.6583 13.15 11.8917 13.15 12.175C13.15 12.4583 13.0583 12.6917 12.875 12.875C12.6917 13.0583 12.4583 13.15 12.175 13.15C11.8917 13.15 11.6583 13.0583 11.475 12.875L6.575 7.975Z"
          />
        </svg>
      </button>
      <div class="header__infos">
        <p class="header__info">Ends on {{ survey.expires_at | date: 'dd MMMM yy' }}</p>
        <p class="header__info">Category: {{ survey.category }}</p>
      </div>
    </header>
    <main class="form__main">
      <article class="form__headings">
        <h1 class="form__title">{{ survey.survey_name }}</h1>
        <h2 class="form__description">{{ survey.description }}</h2>
      </article>
      <article class="question">
        <ol class="question__list">
          <!-- ! Questions -->
          @for (question of survey.questions; track question.id; let index = $index) {
            <li class="question__item">
              <div class="question__item--container">
                <h3 class="question__name" id="q-{{ question.id }}">{{ index + 1 }}. {{ question.question_name }}</h3>
                @if (question.multiple_options) {
                  <p class="question__multiply">More than one answer are possible</p>
                }
              </div>

              <fieldset class="form__fieldset" [attr.aria-labelledby]="'q-' + question.id">
                <!-- ! Options -->
                @for (opt of question.options; track opt.id; let i = $index) {
                  <app-checkbox-component
                    class="checkbox"
                    [type]="question.multiple_options ? 'checkbox' : 'radio'"
                    [name]="'question-' + question.id"
                    [value]="opt.id.toString()"
                    [prefix]="getLetterFromIndex(i)"
                    [label]="opt.option_name"
                    [id]="'option-' + opt.id"
                    [checked]="isSelected(question.id.toString(), opt.id.toString())"
                    (changed)="select(question, $event)"
                  ></app-checkbox-component>
                }
              </fieldset>
            </li>
          }
        </ol>
      </article>
    </main>

    <!-- todo change to submit only for styling and testing -->
    <button class="btn btn__primary btn--content" type="button">
      Complete
      <svg class="btn__primary--icon" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.1556 12.5078L16.0211 0.427617C16.2539 0.142539 16.5255 0 16.8359 0C17.1463 0 17.418 0.142539 17.6508 0.427617C17.8836 0.712695 18 1.05122 18 1.44321C18 1.83519 17.8836 2.17372 17.6508 2.4588L6.97045 15.5724C6.73763 15.8575 6.46602 16 6.1556 16C5.84518 16 5.57356 15.8575 5.34075 15.5724L0.335252 9.44321C0.102438 9.15813 -0.00911854 8.8196 0.000582034 8.42762C0.0102826 8.03563 0.13154 7.6971 0.364354 7.41203C0.597167 7.12695 0.873634 6.98441 1.19375 6.98441C1.51387 6.98441 1.79034 7.12695 2.02315 7.41203L6.1556 12.5078Z"
        />
      </svg>
    </button>
  </form>
}
