<section class="survey-list">
  <nav class="survey-list__nav nav">
    <ul class="nav__ul">
      <li class="nav__li nav__li--active">
        <button class="btn btn__filter" [class.active]="selectedTab() === 'active'" (click)="switchSurveyList('active')">
          Active survey
        </button>
      </li>
      <li class="nav__li nav__li--past">
        <button class="btn btn__filter" [class.active]="selectedTab() === 'past'" (click)="switchSurveyList('past')">
          Past survey
        </button>
      </li>
    </ul>
    <app-dropdown-component
      class="nav__dropdown"
      [categories]="categories()"
      [showAllOption]="true"
      [(value)]="selectedCategory"
      [title]="'Sort by categories'"
    ></app-dropdown-component>
  </nav>
  <app-survey-card [surveyList]="displayList()" [listLayout]="'column'"></app-survey-card>
</section>
