<article class="survay-list">
  <nav class="survay-list__nav nav">
    <ul class="nav__ul">
      <li class="nav__li nav__li--activ">
        <button class="btn btn__filter active">Active survey</button>
      </li>
      <li class="nav__li nav__li--past">
        <button class="btn btn__filter">Past survey</button>
      </li>
    </ul>
    <app-dropdown-component class="nav__dropdown" [categories]="categories()"></app-dropdown-component>
  </nav>
  <!-- distanc from 24px -->
  <app-survey-card [surveyList]="list()"></app-survey-card>
</article>
