@use '../../../../styles/abstracts' as *;

.survay-list {
  max-width: 1042px;
  &__elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(200px, (100% - 1rem) / 2), 1fr));
    gap: 16px;
  }
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.active {
  background-color: $filter-btn-bg-active;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  &__ul {
    display: flex;
    gap: clamp(16px, 5vw, 24px);
  }
  &__li {
    font-size: rem(14);
    color: $primary-purple;
  }
  &__dropdown {
    min-width: 206px;
    align-self: flex-end;
  }
}