@use '../../../../styles/abstracts' as *;

.checkbox {
  cursor: pointer;
  opacity: 0;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
    &:hover {
      background-color: var(--container-bg-hover, none);
    }
  }

  &__label {
    font-size: rem(14);
    font-weight: 400;
    padding-left: 4px;
    color: var(--label-color, white);
    width: 100%;
    cursor: pointer;
    @include animation(color);
  }

  &__checkmark {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: solid 1.5px;
    border-color: var(--border-color, white);
    border-radius: 3px;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    @include flex-center;

    &:hover {
      background-color: $secondary-btn-bg-hover;
      border-color: var(--border-color-hover, $primary-white);
    }

    &--check {
      width: 10px;
      height: 8px;
      fill: $primary-purple;
      opacity: 0;
    }
  }

  &:checked + .checkbox__label {
    .checkbox__checkmark {
      background-color: $secondary-orange;
      border-color: $secondary-orange;
    }

    .checkbox__checkmark--check {
      background-color: $secondary-orange;
      opacity: 1;
    }
  }
}
