@use '../abstracts' as *;

.sur-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 16px;

  .card {
    background-color: $light-purple;
    height: 150px;
    @include flex-center;
    justify-content: stretch;
    align-items: stretch;
    font-family: $f-txt;
    font-weight: 500;
    border-radius: 5px 50px 5px 5px;

    &:hover {
      background-color: $light-purple-hover;
    }

    &__btn {
      display: grid;
      grid-template-rows: repeat(3, auto);
      align-items: flex-start;
      width: 100%;
      padding: 16px 21px;
    }

    &__category {
      justify-self: start;
      color: $primary-orange;
    }

    &__title {
      justify-self: start;
      color: white;
      font-size: rem(24);
      font-weight: 700;
      text-align: start;
    }

    &__expire {
      justify-self: end;
      align-self: end;
      background-color: $primary-orange;
      font-size: rem(14); //todo checkn ob richtig
      color: $primary-black;
      padding: 3px 6px;
      border-top-right-radius: 14px;
    }
  }
}
