@use '../../../../styles/abstracts' as *;

.view {
  display: grid;
  // width: min(calc(100% - 32px), $lg-dp-width);
  padding: 0 16px;
  margin: 0 auto;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.btn__primary {
  align-self: center;
  display: none;
  visibility: hidden;
  @include respond-to(md) {
    display: block;
    visibility: visible;
  }
}
.main-content {
  display: grid;

  @include respond-to(md) {
    grid-template-columns: 2fr 1fr;
    column-gap: 42px;
  }
}
