@use '../../../../styles/abstracts' as *;

.grid {
  display: grid;
  max-width: $lg-dp-width;

  @include respond-to(lg) {
    grid-template-columns: 1fr minmax(20vw, 350px);
    column-gap: 42px;
  }
}
