@use '../styles/abstracts' as *;

.create-survey-dialog {
  max-width: min(100dvw, $lg-dp-width);
  max-height: 100dvh;
  border: none;
  overflow-y: auto;
  margin: auto;

  &::backdrop {
    background-color: $primary-white;
  }
}

.dialog {
  &__container {
    margin-top: 48px;
    @include respond-to(lg) {
      margin-top: 0;
    }
  }
  &__header {
    padding: 48px 0 54px 0;
    @include respond-to(lg) {
      display: none;
      padding: 0;
    }
  }
}
