@use '../styles/abstracts' as *;

.create-survey-dialog {
  max-width: min(100dvw, $lg-dp-width);
  max-height: 100dvh;
  border: none;
  overflow-y: auto;
  margin: auto;
  background-color: transparent;

  &::backdrop {
    background-color: $primary-white;
    opacity: 0.4;
  }
}

.dialog {
  &__container {
    margin: clamp(16px, 5vw, 48px) clamp(4px, 2vw, 16px) 0;
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 5vw, 54px);
    @include respond-to(md) {
      margin-top: 0;
    }
  }

  &__header {
    @include respond-to(md) {
      display: none;
      padding: 0;
    }
  }
}
