@use 'styles/abstracts' as *;
@use 'styles/base';
@use 'styles/layout';
@use 'styles/components';

body {
  max-width: $max-dp-width;
  margin: 0 auto;
}

.main-bg{
  background-color: $primary-purple;
}
