@use 'styles/abstracts' as *;
@use 'styles/base';
@use 'styles/layout';
@use 'styles/components';
@use 'styles/pages';

body {
  background-color: $primary-purple;
  max-width: $max-dp-width;
  margin: 0 auto;
}
