@use '../../../../styles/abstracts' as *;

.header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 8px;
  grid-template-areas:
  'status btn'
  'title title';
  @include respond-to(md) {
    grid-template-areas:
  'status status'
  'title btn';
  }

  &__status {
    grid-area: status;
  }

  &__title {
    grid-area: title;
    font-family: $f-title;
    font-size: rem(56);
    font-weight: 400;
    color: $create_survey-orange;
  }

  &__btn {
    padding: 10px 12px;
    width: fit-content;
    justify-self: end;
    align-self: center;
    max-height: 40px;
  }
}

.btn__secondary--txt {
  display: none;
  @include respond-to(md) {
    display: block;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 40px clamp(0px, 5vw, 54px);
  border-radius: 5px 100px 5px 5px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: clamp(48px, 7vw, 64px);
    padding: 40px 10px;
    background-color: $survey-purple;
    border-radius: 5px;
    border-top-right-radius: 80px;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'detail-main'
      'detail-description';
    @include respond-to(lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      'detail-main detail-description'
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    &--desc {
      height: 100%;
      min-height: 100px;
      resize: none;
    }
  }

  &__dropdown {
    margin-bottom: 31px;
  }
}

.detail {
  &__main {
    display: grid;
    gap: 8px;
    grid-area: detail-main;

    @include respond-to(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      gap: 16px;

      grid-template-areas:
        'name name'
        'date category';

      > .detail__name {
        grid-area: name;
      }
      > .detail__category {
        grid-area: category;
      }
      > .detail__date {
        grid-area: date;
      }
    }
  }

  &__description {
    grid-area: detail-description;
  }
}

.question-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(290px, 100%), 1fr));
  row-gap: 40px;
  column-gap: clamp(30px, 15vw, 100px);
  width: 100%;
  max-width: $lg-dp-width;
}

.question-form {
  max-width: $lg-dp-width;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.question,
.option {
  border: none;
  display: grid;
  grid-template-rows: 24px 37px;
  align-items: center;
  gap: 8px;
}

.options {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.option {
  gap: 4px;

  @include respond-to(sm) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 37px;
    grid-template-areas: 'name input bin';

    > .option__label {
      grid-area: name;
    }

    > .form__input {
      grid-area: input;
    }

    > .btn__bin {
      grid-area: bin;
    }
  }

  &__label {
    --label-padding: 4px;
  }
}

.checkbox {
  cursor: pointer;
  opacity: 0;

  &__container {
    position: relative;
  }

  &__label {
    font-size: rem(14);
    font-weight: 400;
  }

  &__checkmark {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: solid 1.5px white;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include flex-center;

    &:hover {
      background-color: $secondary-btn-bg-hover;
      border-color: $primary-white;
    }

    &--check {
      width: 10px;
      height: 8px;
      fill: $primary-purple;
      opacity: 0;
    }
  }

  &:checked + .checkbox__label {
    .checkbox__checkmark {
      background-color: $secondary-orange;
      border-color: $secondary-orange;
    }

    .checkbox__checkmark--check {
      background-color: $secondary-orange;
      opacity: 1;
    }
  }
}

.btn {
  &__primary {
    align-self: center;
    @include respond-to(md) {
      align-self: end;
    }
  }

  &__add {
    align-self: flex-start;
    font-family: $f-txt-btn;
    font-size: rem(16);
    font-weight: 700;
    color: $primary-white;

    padding: 8px 12px;

    &--container {
      @include flex-center;
      gap: 4px;
      border-bottom: solid 1px $primary-white;
    }

    &--icon {
      width: 16px;
      aspect-ratio: 1/1;
      fill: $primary-white;
    }

    &:hover {
      background-color: $grey-bg-light;
    }

    &:disabled {
      display: none;
    }
  }

  &__add-question {
    align-self: center;
    padding: 10px 12px;
    @include respond-to(md) {
      align-self: flex-start;
    }

    &:disabled {
      display: none;
    }
  }
}

.content-width {
  width: fit-content;
}
