@use '../../../../styles/abstracts' as *;

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(290px, (100% - 90px) / 2), 1fr));
  row-gap: 40px;
  column-gap: clamp(30px, 15vw, 64px);
  width: 100%;
  max-width: $lg-dp-width;

}

// .detail {
//   @include respond-to(sm) {
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: auto auto;
//     column-gap: clamp(32px, 5vw, 64px);
//     grid-template-areas: 'name name' 'date dropdown';
//     > .detail__name {
//       grid-area: name;
//     }

//     > .detail_dropdown {
//       grid-area: dropdown;
//     }

//     > .detail__date {
//       grid-area: date;
//     }
//   }
// }
