@use '../../../../styles/abstracts' as *;

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(290px, (100% - 90px) / 2), 1fr));
  row-gap: 8px;
  column-gap: clamp(30px, 15vw, 64px);

  &__input {
    &--desc {
      height: 100%;
      min-height: 100px;
      resize: none;
    }
  }
}

.detail {
  &__main {
    display: grid;
    gap: 8px;

    @include respond-to(lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      gap: 16px;

      grid-template-areas:
        'name name'
        'date category';

      > .detail__name {
        grid-area: name;
      }
      > .detail__category {
        grid-area: category;
      }
      > .detail__date {
        grid-area: date;
      }
    }
  }

  &__dropdown {
    margin-bottom: 31px;
  }
}

// .detail {
//   @include respond-to(sm) {
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: auto auto;
//     column-gap: clamp(32px, 5vw, 64px);
//     grid-template-areas: 'name name' 'date dropdown';
//     > .detail__name {
//       grid-area: name;
//     }

//     > .detail_dropdown {
//       grid-area: dropdown;
//     }

//     > .detail__date {
//       grid-area: date;
//     }
//   }
// }
