<div class="logo__container">
  <img alt="phone-logo" class="logo__main" src="assets/svg/phone.svg" />

  <img class="logo__icon logo__icon--bubble bubble" src="assets/svg/bubble.svg" alt="text bubble" />
  <img class="logo__icon logo__icon--check check" src="assets/svg/check.svg" alt="check mark" />
  <img class="logo__icon logo__icon--question question" src="assets/svg/question.svg" alt="Question mark" />
  <img class="logo__icon logo__icon--star star" src="assets/svg/star.svg" alt="star icon" />
</div>
